html {
    background: url('../../assets/ghibli-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: 10px;
}

ul {
    padding: 0px;
}

main {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

h1 {
    font-family: 'Nanum Gothic', bold, sans-serif;
    font-size: 37px;
}

img {
    width: 300px;
}